/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*center*/
article , div.head {
    margin: 0 auto;
    max-width: 50em;
}
/*font family*/
@import url(https://fonts.googleapis.com/css?family=Muli);

body {
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
}
/* spacing*/
body {
  line-height: 1.5;
}

h2 {
  padding: .5em 0em 0em;
  font-size:2.25em;
}
h3 {
    font-size:1.5em;
    padding:.75em 0 .25em
}
/*Color & Contrast*/
body {
  color: #555;
}
h1,
h2,
strong {
  color: #333;
}
a {
  color: #768299;
}
p {
    font-size: 1em;
}

/* Columns  */
.group {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:flex-start;
    flex-wrap: wrap;
}
@media all and (max-width: 580px) {
  .container {
    flex-direction: column;
  }
}
.col {
  flex:1 1 50%;
}
.group. col li {
  flex: 0 1 auto;
  padding: 10px;
}

/*Header*/
header {
    width:100%;
    background-color: #ededed;
    line-height: 1.2;
    display:flex;
}
.head {
    max-width: 50em;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}
.head .img-wrapper {
    max-width:200px;
    height:auto;
    border-radius: 6px;
    margin: 1.25em 2.5% 1em ;
    flex:1 1 30%;
}
.head img {
    border-radius: 6px;
    width:100%;
}
.head .side-container {
    flex:1 1 60%;
    display:flex;
    flex-direction:column;
    align-content: space-around;
    align-items:l   ;
}
.head h1 {
    font-size:3.375em;
    font-weight: 300;
    line-height: 1;
    padding: .5em 2.5% .5em ;
}
.head p {
    padding: .5em 2.5% .5em ;
    font-size: 1em;
}


/* navigation */
ul.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
div.nav-container {
    background: #aaa;
    width:100%;
} 
.nav a {
    display:block;
    text-decoration:none;
    border-radius: 2px;
    border-left: 4px solid #2F66CC;
    background-color: #74746e;
    margin: .75em;
    color: #f0eff4;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: .75em 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 500ms ease-out;
    transition-property: color, background;
}
.nav a:hover {
  background:  #768299;
  color: white;
}

/* sections */
div.section {
    margin: 1em;
}
footer {
    min-height: 300px;
    background-color:#ededed
}

/* styling the skills lists*/
ul.skills {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start;
}
ul.skills li {
    margin: .35em;
    padding: .25em .75em;
    background: #eee;
    border-left: 4px solid #000;
    list-style: none;
    border-radius: 2px;
    font-size: .8em;
    transition: none 500ms ease-out;
    transition-property: color, background;
}
ul.skills li:hover {
    background-color:#ddd;
}
#skills ul.skills li {
    font-size: .8em;
}
ul.skills li.comm {
    border-left: 4px solid #2F66CC;
}
ul.skills li.tech {
    border-left: 4px solid #CC4D37;
}

ul.skills:after { 
   content: "";
   display: block; 
   clear: both;
}
.fa {
    padding: 0 .75em 0;
}



/* text styles*/
/* for bigger widths 
header h1 {    font-size: 3.125em; }
hearder p {    font-size: 1.75em; }http://www.modularscale.com/?1&em&1.5&web&text
}
*/


/* job listings */
.job aside{
    padding:.5em 0;
    font-style:italic;
    font-size:.75em;
}
.job h3 {
    margin-bottom: 0;
    border-bottom: 1px solid #b7bbce;
}
.job .group p {
    flex: 1 1 50%;
}
.job .group ul {
    flex: 1 1 30%;
}

@media (max-width: 600px) {
  .job .group {
      flex-direction: column
    }
}
.experience button {
    display: inline-block;
    margin-top: 2em;
    background: #eee;
    border: 0;
    border-left: 4px solid #CC4D37;
    border-radius: 4px;
    font-size: 1em;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    transition: none 500ms ease-out;
    transition-property: color, background;
}
}
.experience button a {
    color: green ;

}

.experience button:hover {
    background: #ccc;
}